/* Hauptcontainer für den gesamten Inhalt */
.body_SearchRecipesMain {
    padding: 30px;
}

/* Stil für die Seite, die die Rezepte anzeigt */
.Page_SearchRecipesMain {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    max-width: 800px; /* Etwas breiter für Rezeptdarstellungen */
    margin: auto;
}

/* Stil für den Button und das Eingabefeld */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.search-container button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.search-container button:hover {
    background-color: #0056b3;
}

.search-container button:focus {
    outline: none;
}

.search-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    text-align: center;
}

/* Allgemeine Stil für Tabellen */
.tableStyle {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tableStyle th {
    background-color: #888;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.tableStyle td {
    padding: 10px;
    background-color: white;
    text-align: center;
    color: black;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

/* Stil für die Überschriften zwischen den Tabellen */
.divStyle {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    font-size: 22px;
    color: #333;
}

/* Stil für die Ladeanzeige */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Höhe passt sich an den Inhalt an */
    min-height: 50px; /* Mindesthöhe, um Platz für die Ladeanzeige zu gewährleisten */
    padding: 20px 0; /* Abstand oben und unten, um den Container zentriert zu halten */
    background-color: #f9f9f9;
}

/* Stil für den allgemeinen Button */
.search-button-srm {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
}

.search-button-srm:hover {
    background-color: #218838;
}

.search-button-srm:focus {
    outline: none;
}

/* Stil für den Text, wenn keine Daten vorhanden sind */
.no-data-text {
    text-align: center;  /* Text zentrieren */
    font-size: 18px;     /* Schriftgröße anpassen */
    color: #666;         /* Farbe des Textes */
    margin: 20px 0;      /* Abstand oben und unten */
}