.App {
  text-align: center;
  min-height: 90vh;
  background-color: whitesmoke;
}

.NoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: calc(10px + 2vmin);
}

.ApiDesign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: black;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  table-layout: fixed;
}

td  {
  width: 25%;
  align-items: center;
  text-align: center;
  margin-left: 50%;
  margin-right:50%;
}

table,
table td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

/* Hier wird der Switch-Button spezifisch gestaltet */
.theme-switch {
  position: fixed;
  right: 15px;
 /* margin-right: 15px;  Fügt einen zusätzlichen Abstand am rechten Rand hinzu */
}

.theme-switch .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22.78px;
}

.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.theme-switch .slider:before {
  position: absolute;
  content: "";
  height: 17.34px;
  width: 17.34px;
  left: 2.67px;
  bottom: 2.67px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.theme-switch input:checked + .slider {
  background-color: #2196F3;
}

.theme-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.theme-switch input:checked + .slider:before {
  transform: translateX(17.34px);
}

/* Dunkles Thema */
body.dark-theme {
  background-color: #333;
  /*color: #fff;*/
  text-align: center;
  min-height: 90vh;
}

/* Helles Thema */
body.light-theme {
  background-color: #fff;
  color: #333;
  text-align: center;
  min-height: 90vh;
}