.App {
  text-align: center;
  min-height: 90vh;
  background-color: whitesmoke;
}

.NoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: calc(10px + 2vmin);
}

.ApiDesign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: black;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  table-layout: fixed;
}

td  {
  width: 25%;
  align-items: center;
  text-align: center;
  margin-left: 50%;
  margin-right:50%;
}

table,
table td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

